.pytest_cache/
.vscode/
*__pycache__*
*.pyc
.env
.DS_Store
.venv/
*.pt
*.pth
*.pkl
run_all.sh
data/*
db_setup/.env
*.scap
graphwatch_data_pipeline/sysdig/input/*
graphwatch_data_pipeline/sysdig/output/*
graphwatch_data_pipeline/sysdig/.env_upload
graphwatch_data_pipeline/setup_db/.env
graphwatch_data_pipeline/setup_db/.postgres_data_grasp_graphwatch/
pids_runs/*
graphwatch_data_pipeline/sysdig/backup_data/
bachup_data/*