records==0.6.0 
pytest==9.0.2
pytest-cov==7.0.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
PyYAML==6.0.3
pandas==2.3.3
scikit-learn==1.8.0
matplotlib==3.10.8
gdown==5.2.1


# pip install torch==2.8.0 torchvision==0.23.0 torchaudio==2.8.0
# pip install torch_geometric
# pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.8.0+cu129.html


