optc_and_cadets_theia_clearscope_e3 = "https://drive.google.com/file/d/##############?usp=share_link" 
theia_clearscope_e5 = "https://drive.google.com/file/d/##############?usp=share_link" 
cadets_e5 = "https://drive.google.com/drive/folders/##############?usp=share_link" 
